@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

/* font-family: 'Racing Sans One', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* font-family: 'Poppins', sans-serif; */

.page-header {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.background-top {
    width: 100%;
    z-index: 1;
}

.container-header {
    position: relative;
}

.text-container-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-container-header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 78px;
}

.text-container-header p {
    font-family: 'Racing Sans One', sans-serif;
    font-size: 32px;
    color: #FFCC1D;
}