/* Mobile */
@media screen and (max-width: 628px){
    .container-header h1 {
        font-size: 50px !important;
    }
}

@media screen and (max-width: 522px){
    .container-header h1 {
        font-size: 32px !important;
    }    
    .container-header p {
        font-size: 16px !important;
    }   
}

@media screen and (max-width: 376px){
    .container-header h1 {
        font-size: 24px !important;
    }  
    .container-header p {
        font-size: 16px !important;
    }    
}
