@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

/* font-family: 'Racing Sans One', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* font-family: 'Poppins', sans-serif; */

* {
    padding: 0;
    margin: 0;
}

body {
    top: 20px;
    margin: 0;
    background-color: #F4F1F0;
}

.name {
    font-family: 'Poppins', sans-serif;
    color: #F4F1F0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
}

.card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #113B5B;
    border-radius: 8px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin: 10px;
    width: 300px;
    height: 440px;
}

.extrait {
    font-family: 'Poppins', sans-serif !important;
    width: 250px;
    height: 100px;
    overflow: auto;
    color: #F4F1F0;
}

.social-network-global {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
}

.social-network {
    width: 32px;
    height: 32px;
    margin: 10px;
}

.paragraph-extrait {
    width: 300px;
    font-size: 12px;
    color: #FFCC1D;
    font-family: 'Poppins', sans-serif;
}

.promotion {
    font-family: 'Racing Sans One', sans-serif;
    color: #FFCC1D;
}

.img-responsive {
    object-fit: cover;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.type {
    font-family: 'Poppins', sans-serif !important;
    display: flex;
    flex-direction: row;
    color: #F4F1F0;
}

.type p {
    padding: 10px
}

